:root {
    --color-header-onscroll: #F7F7F7;

    --primary-scroll: #2e2e39;
    --secondary-scroll: #746f6c;

    /* color palette */
    --call-to-action: #FB743E;
    --primary: rgb(0, 0, 0);
    --background: #ff6900;
    --secondary: rgba(138, 185, 255, 0.52);


    /* Variables spéciales */
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-scroll);
    border-radius: 33px;
}

body::-webkit-scrollbar-track {
    background-color: var(--secondary-scroll);
    border-radius: 33px;
}

body::-webkit-scrollbar {
    border-radius: 50px;
    width: 7px;
}



a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
    position: fixed;
    top: 0;
    background-color: #383E5677;
    color: rgb(2, 2, 2);

    backdrop-filter: blur(5px);
}



.anim-header {
    background: rgba(65, 65, 65, 0.904);
    color: var(--color-header-onscroll);
    text-decoration: none;
    border-bottom: solid 1px var(--color-header-onscroll);
}

.site-title {
    margin: 0;
    font-size: 60px;
    padding-bottom: 0;
    color: white;
}

.div-title-logo {
    display: block;
    height: auto;

    /*margin-right: 10rem;*/
    /*margin-top: 2rem;*/
}

.div-title-logo:hover {
    filter: invert(100%);
}

.fa-cat {
    font-size: 4rem;
    color: rgb(143, 143, 143);
}

.title {
    text-decoration: underline;
    transition: all 0.6s ease-in-out;
}

.title_on_scroll {
    color: var(--color-header-onscroll);
}



.nav-header {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    width: 60%;
    justify-content: space-around;
}

.logo-header {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    width: 60%;
}

.list-header {
    font-weight: 400;
    font-size: 1.2em;
}

.link-list-header {
    color: var(--primary);
    border: 3px solid var(--call-to-action);
    border-radius: 30%;
    transition: all 0.6s ease-out;
}

.link-list-header:hover {
    color: var(--color-header-onscroll);
}

.link-underline-deleted {
    color: var(--color-header-onscroll);
    text-decoration: none;
}

.link-underline-deleted:hover {
    color: black;
    text-decoration: underline;
}
/* ------------ Background Image ------------ */

.background-image {
    /*min-height: 100vh;*/
    /*max-width: 100vw;*/
    background-image: url("../img/source/bg-stones.jpg");
    background-color:var(--background);
    background-size: cover;
    background-attachment: scroll;
    padding: 100px 0 0 0;
}

.background-image-contact {
    /*min-height: 100vh;*/
    /*max-width: 100vw;*/
    background-image: url("../img/contact/rneo-contact.jpg");
    background-color: var(--secondary);
    background-size: cover;
    background-attachment: scroll;
    padding: 100px 0 0 0;
}

.background-image-devis {
    /*min-height: 100vh;*/
    /*max-width: 100vw;*/
    background-image: url("../img/devis/reno-devis.jpg");
    background-color: var(--secondary);
    background-size: cover;
    background-attachment: scroll;
    padding: 100px 0 0 0;
}

.background-image-article {
    /*min-height: 100vh;*/
    /*max-width: 100vw;*/
    background-image: url("../img/source/reno-bg.jpg");
    background-color:var(--background);
    background-size: cover;
    background-attachment: scroll;
    padding: 100px 0 0 0;
}

/* ------------ Formulaire-connexion ------------ */

.grey-overlay {
    height: 100vh;
    width: 100vw;
    z-index: 100;
    position: fixed;
    background-color: rgba(65, 62, 62, 0.774);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-form-connexion {
    height: 70%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.border-formulaire-connexion {
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    border-radius: 10px;
    font-size: 1.3rem;
    background-color: rgba(182, 182, 182, 0.493);
}
.form-title-usr{
    font-size: 4rem;
    text-align: center;
}

.form-desc-usr{
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    padding: 0 250px 0 250px;
}

.form-connexion {
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.div-input-label {
    padding: 0.7rem 0;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
}

.div-chek-label{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
.div-chek-label input{
    margin: 0 40px 0 20px;
}



.div-input-label input {
    padding: 4px;
    border-radius: 10px;
    font-size: 1.3rem;
    width: 85%;
}

#contact-form form{
    background-color: #FB743E55;


    /*background-image: url("../img/source/bg-reno.jpg");*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/


    padding: 2rem;
    border-radius: 1rem;
    width: 50%;
}

#contact-form .form-wrap{
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn-submit {
    margin-top: 1rem;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 1.4rem;
    transition: all ease-in 100ms;

}

.btn-submit:hover {
    color: #FFF;
    /* background-color: #343232; */
    background-color: var(--call-to-action);
}

#contact-form .form-btn-wrap{
    display: flex;
    justify-content: center;
}

/* ------------ Sections ------------ */

.section-lp {
    min-height: 450px;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
    border-right: none;
    border-left: none;
    padding: 10px;
}

.container {
    height: 100%;
    width: 100%;
    background-color: rgba(124, 124, 124, 0.247);

}

.container-card {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.card {
    min-height: 75%;
    max-width: 40%;
    padding: 0 20px;
    font-size: 1.3rem;
    border: solid black 1px;
    background-color: rgba(95, 90, 90, 0.37);
    border-radius: 15px;
}

.padding-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.card-title {
    text-align: center;
    color: #ff6900;
    /*border-bottom: solid black 2px;*/
    padding-top: 0;
    backdrop-filter:blur(2px);
    margin:0;
}

.card-title-event {
    text-align: center;

    border-bottom: solid black 2px;
    padding-top: 0;

}

.card-view {
    display: block;
    background-color: #383E5699;
    color: #F7F7F7;
    backdrop-filter:blur(10px);
    padding: 5px;
    border-radius: 5rem;
    align-items: center;
}

.card-text {
    display: block;
    background-color: #F7F7F744;
    color: black;
    backdrop-filter:blur(2px);
    padding: 5px;
    align-items: center;
    font-size: 14px;
    text-align: center;
    z-index: -100;
}

.card-price {
    display: block;
    background-color: #101014CC;
    color: var(--call-to-action);
    backdrop-filter:blur(1px);
    align-items: center;
    font-size: 20px;
    text-align: center;
    transition: 0.5s;
}

.card-price:hover{

}

.card-para {
    font-size: 1.1rem;
    margin: 0;
    text-align: center;
}

.link-btn {
    margin: 17px;
    text-decoration: none;
    border: solid black 1px;
    border-radius: 5px;
    padding: 5px 7px;
    box-shadow: -1px -1px 2px;
    transition: all ease-in 1s;
}

.link-btn:hover {
    box-shadow: -2px -2px 2px;
    color: #FFF;
    border: solid #FFF 1px;
    background-color: #343232;
}

.hidden {
    display: none;
}

/* -------- Cards Event -------- */

.event-section {
    padding-top: 30px;
    background-color: rgb(0, 0, 0, 0.3);
}


.container-section-event {
    /*background-color: rgba(110, 110, 110, 0.774);*/
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
    justify-content: center;
}

.container-prest {
    /*background-color: rgba(110, 110, 110, 0.774);*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;

}

.container-section-activity-sector {
    background-color: rgba(150, 150, 150, 0.774);
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 10px;
}

.container-card-event {
    width: 30%;
    height: auto;
    padding-bottom: 30px;
}

.card-event {
    /*background-image: url("../img/blog/article-2.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 80;
    margin-bottom: 30px;
    border: 5px solid black;
    /*border: 3px solid black;*/
    /*min-height: 40vh;*/
    height: 350px;
    margin: 0;
    transition: 0.5s;
    backdrop-filter: blur(1px);

}

.card-event:hover {
    transition: 0.8s;
    box-shadow: 6px 16px 10px grey;
    padding-bottom:70px;
    backdrop-filter: blur(0);
}

.card-event h3 {
    width: 100%;
    text-align: center;
}

.image-selected {
    /*max-height: 70%;*/
    /*margin: 0 16px;*/
}

.card-event p {
    /*padding: 0 10px;*/
    /*text-align: justify;*/
    /*overflow-y: auto;*/
    /*max-height: 30vh;*/
    /*margin: 0;*/
}

.card-event p::-webkit-scrollbar-thumb {
    background-color: var(--primary-scroll);
    border-radius: 33px;
}


.card-event p::-webkit-scrollbar-track {
    background-color: var(--secondary-scroll);
    border-radius: 33px;
}

.card-event p::-webkit-scrollbar {
    border-radius: 50px;
    width: 7px;
}

/* -------- Formulaire Creation -------- */

.formulaire-creation {
    background-color: rgba(218,218,218,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* width: 100wh; */
    min-height: 70vh;
}

.formulaire-creation .div-input-label {
    width: 40%;
}

.formulaire-creation .div-input-label input {
    border: solid 2px rgba(28, 26, 145, 0.664);
}

.formulaire-creation .div-input-label:first-child input {
    border: none;
}

.formulaire-creation:nth-child(4) {
    display: flex;
    flex-direction: column;
}

.formulaire-creation textarea {
    padding: 4px;
    border-radius: 10px;
    font-size: 1.3rem;
    border: solid 2px rgba(28, 26, 145, 0.664);
}

.title-creation-form {
    font-size: 2rem;
    text-align: center;
    text-decoration: underline rgb(48, 46, 46);
    color: rgba(28, 26, 145, 0.664);
}

/* --------- Table style -------- */

#table_resp{
    overflow-x:auto;
}
#subscribers {
    font-family: Arial, Helvetica, sans-serif;

    border-collapse: collapse;
    width: 100%;
}

#subscribers td, #subscribers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#subscribers tr:nth-child(even){background-color: darkgrey;}

#subscribers tr:nth-child(odd){background-color: grey;}

#subscribers tr:hover {background-color:dimgrey;}

#subscribers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

/* Buttons */
.btn {
    border: 1px solid rgba(0, 0, 0, 0.4);;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5rem;
    transform: scale(1);
    transition: .2s linear transform;
}

.btn:hover {
    transform: scale(0.95);
    transition: .2s linear transform;
    filter: invert(100%);
}

.btn-contact{
    border-color:var(--primary);
    background-color: var(--primary);
    color:#fff;
}

.btn-outline-white {
    border-color: #fff;
    background-color: transparent;
    color: #fff;
}

.btn-primary {
    border-color:var(--primary);
    background-color: var(--primary);
    color:#fff;
}

.btn-secondary {
    border-color:var(--secondary);
    background-color: var(--secondary);
    color:#fff;
}

.btn-secondary {
    border-color:var(--secondary);
    background-color: var(--secondary);
    color:#fff;
}

.btn-call-to-action {
    border-color:var(--call-to-action);
    background-color: var(--call-to-action);
    color:#fff;
}

.btn-outline-primary {
    border-color: var(--primary);
    background-color: transparent;
    color: var(--primary);
}

/* --- v-style.css --- */


#title-hero {
    /*margin-top: 4rem;*/
    padding: 2rem 0 2rem 0;
    background-color: #FF6900DD;
    border: 10px solid black;
    border-left:none;
    border-right:none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.title-main {
    text-align: center;
    font-style: revert;
    background-color: rgba(255, 255, 255, 0.4);
    border: 3px solid black;
    color: #101010;
    border-radius: 25px;
}

.title-main:hover {
    filter: invert(100%);
}

.title-subcat {
    /*margin-top: 4rem;*/
    background-color: #FF690077;
    border: 10px solid black;
    border-left:none;
    border-right:none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.img-section-1 {

    background-image: url("../img/sections/section-img-1.jpg");
}

.img-section-2 {
    background-image: url("../img/sections/section-img-2.jpg");
}

.img-section-3 {
    background-image: url("../img/sections/section-img-3.jpg");
}




#title-hero .contain{
    margin: 0 13rem;
    align-items: center;
}

#title-hero .contain h1{
    margin-top: 0;
    font-size: 5rem;
}

#title-hero .contain div > a{
}

.section-container {
    padding: 2rem;
    border-radius: 5rem;
    text-align: center;
    transition: 0.5s;
}

.section-container:hover{
    transition: 0.5s;
    background-color: #AD570055;
    backdrop-filter: blur(10px);
    box-shadow: 3px 10px 5px rgba(187, 76, 0, 0.07);
    color: #ffffff;

}
.section-title {
    padding: 2rem;
    border-bottom: 3px solid black;
    font-size: 40px;
    text-align: center;
}

.sections-span-text {
    display: block;
    padding: 2rem;
    font-size: 21px;
    border-radius: 1.5rem;
    color: #020202;
    align-items: center;
    text-align: center;
    overflow: hidden;
    /*backdrop-filter: blur(10px);*/
}



.sections-span-text-background-primary {
    display: block;
    padding: 2rem;
    font-size: 21px;
    border-radius: 1.5rem;
    color:white;
    align-items: center;
    text-align: center;
}



.sections-btn{
    display: flex;
    place-content: center;
}

#site-subtitle {
    font-size: 16px;
    font-style: italic;
    color: white;
    margin-left:50px;

}

.white{
    color: #F7F7F7;
}

/*------ FOOTER ------*/

#footer {

    font-size: 14px;
    background-color: var(--background) ;
    color: #fff;
    padding: 10px 0;
    align-content: center;
    align-items: center;
    text-align: center;
}

#footer-text {
    max-width: 1200px;
    margin-left: 400px;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
    width: 570px;
    height: auto;
    align-content: center;
    align-items: center;
}

#footer-wrapper {
    display : flex;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

/*----- AVIS -----*/

#avis{
    padding: 4rem 0 5rem 0;
    background-color: #FF6900DD;
    border: 10px solid black;
    border-left:none;
    border-right:none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#avis .contain{
    margin: 0 13rem;
    align-items: center;
}
#avis .contain .avis-wrap{
    display: flex;
    justify-content: space-between;
}

#avis .contain h1{
    margin-top: 0;
    font-size: 5rem;
}

.avis-card:hover {
    transition: 0.5s;
    background-color: #b44a00;
}



#avis .avis-2{
}

#avis .avis-3{
}


#avis .contain .avis-wrap > div{
    padding: 12px;
    border-radius: 1rem;
    max-width: 27%;
}

#avis .contain .avis-wrap > div > .etoiles{
    display: flex;
    justify-content: center;
}

#avis .contain .avis-wrap > div > .etoiles img{
    aspect-ratio: 1;
    width: 25px;
    margin: 4px;
}


#avis .contain .avis-wrap > div > .nom{
    font-weight: bold;
    padding: 0.7rem 0 1.5rem 0;
    text-align: center;
    border-bottom: 1px solid black;
}
#avis .contain .avis-wrap > div > .commentaire{
    margin: 0;
    text-align: center;
}
